langchain
langchain-community
faiss-cpu
sentence-transformers
strawberry-graphql
fastapi
uvicorn
pydantic
pyyaml
requests
python-dotenv
torch
kagglehub
pandas
qdrant-client
redis
langchain-core
rank-bm25
elasticsearch
bitsandbytes
transformers
langchain-openai
langchain-text-splitters
pypdf
python-docx
unstructured
fastapi-cors
pydantic-settings
gunicorn
